{{#partial "contenido" }}
                <!-- Begin Page Content -->
                <div class="container-fluid">
<h1 class="h3 mb-2 text-gray-800">{{comunidad.nombre}}</h1>
<p class="mb-4">Grado de Confianza: {{comunidad.gradoDeConfianza}}</p>

<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Intereses de la Comunidad</h6>
</div>
<div class="card-body tabla">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTableIntereses" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Nombre del Servicio</th>
                <th>Descripción</th>
                   {{#if editarComunidad}}
                <th></th>
                {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#each comunidad.intereses}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.descripcion}}</td>
                                   {{#if editarComunidad}}
                <td>
                    <form action="/comunidad/removerInteres" method="post">
                        <input type="hidden" name="comunidadId" value="{{comunidad.id}}" />
                        <input type="hidden" name="interesId" value="{{this.id}}" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times fa-sm fa-fw mr-2 "></i>Quitar</button>
                    </form>
                </td>
                 {{/if}}
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{#if editarComunidad}}
    <form action="/comunidad/addInteres" method="POST">
        <input type="hidden" name="comunidadId" value="{{comunidad.id}}" />
   <div class="form-group mt-4">
        <select class="form-control sm" name="servicioSeleccionado" id="servicioDropdown">
            <!-- Opciones del dropdown llenadas dinámicamente -->
            {{#each listaDeServicios}}
            <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
       </div>
   <button type="submit" class="btn btn-primary mt-2"> <i class="fas fa-plus fa-sm fa-fw mr-2 "></i>Agregar</button>
    </form>
    {{/if}}
</div>
</div>



<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Admins de la Comunidad</h6>
</div>
<div class="card-body tabla">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTableAdmin" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Username</th>
                {{#if editarComunidad}}
                <th></th>
                {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#each comunidad.admins}}
            <tr>
                <td>{{this.username}}</td>
                {{#if editarComunidad}}
                <td>
                    <form action="/comunidad/removerAdmin" method="post">
                        <input type="hidden" name="adminId" value="{{this.id}}" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times fa-sm fa-fw mr-2 "></i>Quitar</button>
                    </form>
                </td>
                {{/if}}
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>





<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Miembros de la Comunidad</h6>
</div>
<div class="card-body tabla">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTableMiembros" width="100%" cellspacing="0">
            <tbody>
            {{#each listaMiembros}}
            <tr>
                <td>{{this.apellido}}, {{this.nombre}}</td>
            {{#if editarComunidad}}
                <td>{{this.correoElectronico}}</td>
                <td>{{this.telefono}}</td>
            {{/if}}
                {{#if editarComunidad}}
                    <td>
                        <form action="/comunidad/{{comunidad.id}}/expulsar/{{this.id}}" method="post">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times fa-sm fa-fw mr-2 "></i>Expulsar</button>
                        </form>
                    </td>
                    {{#if this.MiembroNoEsAdmin}}
                        <td>
                            <form action="/comunidad/{{comunidad.id}}/ascender/{{this.id}}" method="post">
                                <button type="submit" class="btn btn-success"><i class="fas fa-arrow-up fa-sm fa-fw mr-2 "></i>Ascender a Admin</button>
                            </form>
                        </td>
                    {{/if}}
                {{/if}}
            </tr>

            {{/each}}
            </tbody>
            <thead>
            <tr>
                <th>Nombre</th>
                            {{#if editarComunidad}}
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
                <th></th>
                {{#if this.MiembroNoEsAdmin}}
                                <th></th>
                                 {{/if}}
                 {{/if}}
            </tr>
            </thead>
        </table>
        {{#if usuarioEsTipoMiembro}}
            {{#if puedeUnirse}}
                <form action="/comunidad/join/{{comunidad.id}}" method="post">
                    <button type="submit" class="btn btn-success"><i class="fas fa-user-plus fa-sm fa-fw mr-2 "></i>Unirse</button>
                </form>
                {{else}}
                <form action="/comunidad/disjoin/{{comunidad.id}}" method="post">
                     <button type="submit" class="btn btn-danger"> <i class="fas fa-user-minus fa-sm fa-fw mr-2 "></i>Abandonar</button>
                </form>
            {{/if}}
            {{/if}}
    </div>
</div>
</div>
{{/partial}}
{{> base }}
