           {{#partial "contenido" }}
               <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Incidentes</h1>
                    <p class="mb-4">Listado de incidentes</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Incidentes</h6>
                        </div>
                        <div class="card-body tabla">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="dataTableIncidentes" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Entidad</th>
                                            <th>Establecimiento</th>
                                            <th>Servicio</th>
                                            <th>Descripcion</th>
                                            <th>Fecha inicio</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                         {{#each incidentes}}
                                        <tr>
                                           <td><a href="/entidad/{{this.servicioAfectado.establecimiento.entidad.id}}" style="color:black;">{{this.servicioAfectado.establecimiento.entidad.nombre}}</a></td>
                                           <td><a href="/establecimiento/{{this.servicioAfectado.establecimiento.id}}" style="color:black;">{{this.servicioAfectado.establecimiento.nombre}}</a></td>
                                           <td>{{this.servicioAfectado.servicio.nombre}}</td>

                                            <td>{{this.descripcion}}</td>
                                            <td>{{this.fechaInicioFormateada}}</td>
                                            <td>
                                            <form action="/cerrarIncidente/{{this.id}}" method="POST">
                                                   <button type="submit" class="btn btn-danger"><i class="fas fa-times mr-2"></i>  Cerrar Incidente</button>
                                            </form>
                                            </td>
                                        </tr>
                                         {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

{{/partial}}
{{> base }}

