           {{#partial "contenido" }}
               <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Incidentes</h1>
                    <p class="mb-4">Listado de incidentes</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Incidentes</h6>
                        </div>
                        <div class="card-body tabla">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="dataTableIncidentes" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Descripcion</th>
                                            <th>Miembro informante</th>
                                            <th>Entidad</th>
                                          <th>Establecimiento</th>
                                           <th>Servicio</th>
                                            <th>Comunidades afectadas</th>
                                            <th>Estado</th>
                                            <th>Fecha inicio</th>
                                            <th>Fecha cierre</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                         {{#each incidentes}}
                                        <tr>
                                            <td>{{this.descripcion}}</td>
                                            <td>{{this.miembroInformante.nombre}} {{this.miembroInformante.apellido}}</td>
                                           <td><a href="/entidad/{{this.servicioAfectado.establecimiento.entidad.id}}" style="color:black;">{{this.servicioAfectado.establecimiento.entidad.nombre}}</a></td>
                                           <td><a href="/establecimiento/{{this.servicioAfectado.establecimiento.id}}" style="color:black;">{{this.servicioAfectado.establecimiento.nombre}}</a></td>
                                           <td>{{this.servicioAfectado.servicio.nombre}}</td>                                            <td> {{#each this.comunidadesAfectadas}}
                                            <a href="/comunidad/{{this.id}}" style=""><span class="badge badge-success" style="background-color:#5e5e5e;"> {{this.nombre}} </span></a>
                                                {{/each}}
                                            </td>
                                            <td>
                                            {{#if this.fechaCierre}} <span class="badge badge-success" style="background-color:#28a745;">Cerrado</span>{{else}}<span class="badge badge-success" style="background-color:#dc3545;">Abierto</span>{{/if}}

                                           </td>
                                            <td>{{this.fechaInicioFormateada}}</td>
                                            <td>{{#if this.fechaCierre}}{{this.fechaFinFormateada}}{{else}}-{{/if}}</td>
                                        </tr>
                                         {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->


{{/partial}}
{{> base }}

